5k-Results-fasttext-cbow-near-bin-cosine-cca-java.tsv
5k-Results-fasttext-cbow.png
5k-Results-fasttext-skipgram-near-bin-cosine-cca-java.csv
5k-Results-fasttext-skipgram.png
report.htm
Results-fasttext-cbow-near-bin-arcos-cca-java.tsv
Results-fasttext-cbow-near-bin-cosine-cca-java.tsv
Results-fasttext-cbow.png
Results-fasttext-skipgram-near-bin-arcos-cca-java.tsv
Results-fasttext-skipgram-near-bin-cosine-cca-java.tsv
Results-fasttext-skipgram.png
Results-w2v-cbow-near-bin-arcos-cca-java.tsv
Results-w2v-cbow-near-bin-cosine-cca-java.tsv
Results-w2v-cbow.png
Results-w2v-skipgram-near-bin-arcos-cca-java.tsv
Results-w2v-skipgram-near-bin-cosine-cca-java.tsv
Results-w2v-skipgram.png
5k-Results-fasttext-cbow-Bi-Fo-cca-java.dat
5k-Results-fasttext-cbow-Bi-Re-cca-java.dat
5k-Results-fasttext-skipgram-Bi-Fo-cca-java.dat
5k-Results-fasttext-skipgram-Bi-Re-cca-java.dat
Results-fasttext-cbow-Bi-Fo-cca-java.dat
Results-fasttext-cbow-Bi-Re-cca-java.dat
Results-fasttext-cbow-Ne-Fo-cca-java.dat
Results-fasttext-cbow-Ne-Re-cca-java.dat
Results-fasttext-skipgram-Bi-Fo-cca-java.dat
Results-fasttext-skipgram-Bi-Re-cca-java.dat
Results-fasttext-skipgram-Ne-Fo-cca-java.dat
Results-fasttext-skipgram-Ne-Re-cca-java.dat
Results-w2v-cbow-Bi-Fo-cca-java.dat
Results-w2v-cbow-Bi-Re-cca-java.dat
Results-w2v-cbow-Ne-Fo-cca-java.dat
Results-w2v-cbow-Ne-Re-cca-java.dat
Results-w2v-skipgram-Bi-Fo-cca-java.dat
Results-w2v-skipgram-Bi-Re-cca-java.dat
Results-w2v-skipgram-Ne-Fo-cca-java.dat
Results-w2v-skipgram-Ne-Re-cca-java.dat
5k-Results-fasttext-cbow-Bi-Fo-cosine-cca-java.dat
5k-Results-fasttext-skipgram-Bi-Fo-cosine-cca-java.dat
5k-Results-fasttext-skipgram-Bi-Re-cosine-cca-java.dat
Results-fasttext-cbow-Bi-Fo-arcos-cca-java.dat
Results-fasttext-cbow-Bi-Fo-cosine-cca-java.dat
Results-fasttext-cbow-Bi-Re-arcos-cca-java.dat
Results-fasttext-cbow-Bi-Re-cosine-cca-java.dat
Results-fasttext-cbow-Ne-Fo-arcos-cca-java.dat
Results-fasttext-cbow-Ne-Fo-cosine-cca-java.dat
Results-fasttext-cbow-Ne-Re-arcos-cca-java.dat
Results-fasttext-cbow-Ne-Re-cosine-cca-java.dat
Results-fasttext-skipgram-Bi-Fo-arcos-cca-java.dat
Results-fasttext-skipgram-Bi-Fo-cosine-cca-java.dat
Results-fasttext-skipgram-Bi-Re-arcos-cca-java.dat
Results-fasttext-skipgram-Bi-Re-cosine-cca-java.dat
Results-fasttext-skipgram-Ne-Fo-arcos-cca-java.dat
Results-fasttext-skipgram-Ne-Fo-cosine-cca-java.dat
Results-fasttext-skipgram-Ne-Re-arcos-cca-java.dat
Results-fasttext-skipgram-Ne-Re-cosine-cca-java.dat
Results-w2v-cbow-Bi-Fo-arcos-cca-java.dat
Results-w2v-cbow-Bi-Fo-cosine-cca-java.dat
Results-w2v-cbow-Bi-Re-arcos-cca-java.dat
Results-w2v-cbow-Bi-Re-cosine-cca-java.dat
Results-w2v-cbow-Ne-Fo-arcos-cca-java.dat
Results-w2v-cbow-Ne-Fo-cosine-cca-java.dat
Results-w2v-cbow-Ne-Re-arcos-cca-java.dat
Results-w2v-cbow-Ne-Re-cosine-cca-java.dat
Results-w2v-skipgram-Bi-Fo-arcos-cca-java.dat
Results-w2v-skipgram-Bi-Fo-cosine-cca-java.dat
Results-w2v-skipgram-Bi-Re-arcos-cca-java.dat
Results-w2v-skipgram-Bi-Re-cosine-cca-java.dat
Results-w2v-skipgram-Ne-Fo-arcos-cca-java.dat
Results-w2v-skipgram-Ne-Fo-cosine-cca-java.dat
Results-w2v-skipgram-Ne-Re-arcos-cca-java.dat
Results-w2v-skipgram-Ne-Re-cosine-cca-java.dat
make.gnuplots
BINA-5k-Results-fasttext-cbow-cca-java.png
BINA-5k-Results-fasttext-skipgram-cca-java.png
BINA-Results-fasttext-cbow-cca-java.png
BINA-Results-fasttext-skipgram-cca-java.png
BINA-Results-w2v-cbow-cca-java.png
BINA-Results-w2v-skipgram-cca-java.png
RANK-5k-Results-fasttext-cbow-cca-java.png
RANK-5k-Results-fasttext-skipgram-cca-java.png
RANK-Results-fasttext-cbow-cca-java.png
RANK-Results-fasttext-skipgram-cca-java.png
RANK-Results-w2v-cbow-cca-java.png
RANK-Results-w2v-skipgram-cca-java.png
BINA-5k-Results-fasttext-cbow-cca-java.png
BINA-5k-Results-fasttext-cbow-cosine-cca-java.png
BINA-5k-Results-fasttext-skipgram-cca-java.png
BINA-5k-Results-fasttext-skipgram-cosine-cca-java.png
BINA-Results-fasttext-cbow-arcos-cca-java.png
BINA-Results-fasttext-cbow-cca-java.png
BINA-Results-fasttext-cbow-cosine-cca-java.png
BINA-Results-fasttext-skipgram-arcos-cca-java.png
BINA-Results-fasttext-skipgram-cca-java.png
BINA-Results-fasttext-skipgram-cosine-cca-java.png
BINA-Results-w2v-cbow-arcos-cca-java.png
BINA-Results-w2v-cbow-cca-java.png
BINA-Results-w2v-cbow-cosine-cca-java.png
BINA-Results-w2v-skipgram-arcos-cca-java.png
BINA-Results-w2v-skipgram-cca-java.png
BINA-Results-w2v-skipgram-cosine-cca-java.png
RANK-5k-Results-fasttext-cbow-cca-java.png
RANK-5k-Results-fasttext-cbow-cosine-cca-java.png
RANK-5k-Results-fasttext-skipgram-cca-java.png
RANK-5k-Results-fasttext-skipgram-cosine-cca-java.png
RANK-Results-fasttext-cbow-arcos-cca-java.png
RANK-Results-fasttext-cbow-cca-java.png
RANK-Results-fasttext-cbow-cosine-cca-java.png
RANK-Results-fasttext-skipgram-arcos-cca-java.png
RANK-Results-fasttext-skipgram-cca-java.png
RANK-Results-fasttext-skipgram-cosine-cca-java.png
RANK-Results-w2v-cbow-arcos-cca-java.png
RANK-Results-w2v-cbow-cca-java.png
RANK-Results-w2v-cbow-cosine-cca-java.png
RANK-Results-w2v-skipgram-arcos-cca-java.png
RANK-Results-w2v-skipgram-cca-java.png
RANK-Results-w2v-skipgram-cosine-cca-java.png
